@import "tailwindcss";

.react-calendar {
  width: 100%;
  border: none;
  font-family: "Arial", sans-serif;
}

.react-calendar__tile--active {
  background: #3b82f6;
  color: white;
  border-radius: 6px;
}

@keyframes pulseECG {
  0%,
  50%,
  100% {
    height: 15px;
  }
  20% {
    height: 40px;
  }
}

.animate-pulse-ecg {
  animation: pulseECG 0.8s infinite ease-in-out;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 100%;
}

.wave1 {
  animation: waveMove 10s linear infinite;
}

.wave2 {
  animation: waveMove 15s linear infinite;
  opacity: 0.8;
}

@keyframes waveMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.wavee {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: 50% 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.div-quote {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}

.div-quote:hover {
  transform: translateY(100px); /* moves down */
}

@media (max-width: 768px) {
  .div-quote:hover {
    transform: translateY(-100px); /* moves up */
    transition: transform 0.3s ease;
  }
}

.hover-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, #facc15, #22d3ee, #14b8a6);
  border-radius: 4px;
  transition: width 0.4s ease;
}

.hover-underline:hover::after {
  width: 100%;
}

/* testing */

.hover-border {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-border::before,
.hover-border::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-radius: 10px;
}

/* Top-left border */
.hover-border::before {
  top: 0;
  left: 0;
  border-top-color: #facc15;  /* yellow */
  border-left-color: #e3370c; /* purple */
  animation: borderGrow 0.8s ease forwards;
  animation-delay: 3s;
}

/* Bottom-right border */
.hover-border::after {
  bottom: 0;
  right: 0;
  border-bottom-color: #14b8a6; /* teal */
  border-right-color: #e503da; /* purple */
  animation: borderGrow 0.8s ease forwards;
  animation-delay: 4  s; /* starts after top-left finishes */
}

@keyframes borderGrow {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 100%;
    height: 100%;
  }
}
